body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 840px;
}

.carCards {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.carCard {
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	text-align: center;
}

.carCard img {
	width: 100%;
	height: 120px;
	object-fit: cover;
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
}

.carCard h2 {
	font-size: 1.2em;
	margin: 0 0 10px;
}

.carCard p {
	font-size: 0.9em;
	margin: 5px 0;
}

.accordion-button {
	background-color: #f1f1f1;
	border: none;
	padding: 10px;
	width: 20%;
	text-align: left;
	cursor: pointer;
}

.accordion-content {
	padding: 0 10px;
	display: none;
	background-color: #f9f9f9;
}

.accordion-button:focus {
	outline: none;
}

.accordion-content button {
	padding: 8px;
	margin: 5px 0;
	background-color: #ddd;
	width: 20%;
	text-align: left;
	cursor: pointer;
}

.accordion-content button:hover {
	background-color: #ccc;
}

.block {
	display: block;
}
